.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 20px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__input {

}
